{% load static %}
{% load cart_filters %}

<section class="cart-section">
    <div class="flex justify-center">
        <div class="max-w-screen-lg mt-10 bg-slate-50 p-8 rounded-xl">
            <h1 class="mb-10 text-center text-2xl font-bold">Корзина</h1>

            <div class="flex flex-row gap-3 justify-center">
                <div class="cart-items flex flex-col gap-3">
                    {% for item in cart %}
                    {% with unit=item.unit %}
                    <div class="cart-item relative">
                        <div class="cart-item-wrapper flex justify-start bg-slate-200 rounded-3xl pr-10 py-4">
                            <div class="item-image basis-1/4 mx-4">
                                {% if unit.product.image %}
                                <img src="{{ unit.product.image.url }}" class="w-full rounded-lg sm:w-40" />
                                {% else %}
                                <img src="{% static 'no-image.jpg' %}" class="w-full rounded-lg sm:w-40" />
                                {% endif %}
                            </div>

                            <div class="item-info basis-2/4 flex flex-col justify-start">
                                <div class="item-name" class="mt-4 sm:mt-0">
                                    <h2 class="text-lg font-bold text-gray-900">{{ item.name }}</h2>
                                </div>
                                <div class="item-price" class="mt-8 flex justify-between">
                                    {% if unit.discount_price %}
                                    <p class="text-sm ">
                                        <span>Цена единицы:</span>
                                        <span class="item-price-value text-xs line-through mr-1">
                                            {{ unit.price|floatformat:"0" }} ₽
                                        </span>
                                        <span class="item-discount-price-value">
                                            {{ unit.discount_price|floatformat:"0" }} ₽
                                        </span>
                                    </p>
                                    {% else %}
                                    <p class="text-sm">
                                        <span>Цена единицы:</span>
                                        <span class="item-price-value">
                                            {{ unit.price|floatformat:"0" }} ₽
                                        </span>
                                    </p>
                                    {% endif %}
                                </div>
                                <div class='item-total-price'>
                                    <p class="text-sm">
                                        <span>Итого:</span>
                                        <span class="item-total-price-value text-sm">
                                            {{ item.total_price |floatformat:"0" }}
                                        </span>
                                        <span>₽</span>
                                    </p>
                                </div>
                            </div>

                            <div class="item-forms basis-1/4 flex justify-end mt-auto">
                                <div class="item-remove-form">
                                    <form action="{% url 'cart:cart_remove' unit.id %}" method="post">
                                        {% csrf_token %}
                                        {{ cart_remove_product_form }}
                                        <button type="submit" onclick="return removeFromCart(this)">
                                            <span>{% include 'svg/remove.html' %}</span>
                                        </button>
                                    </form>
                                </div>
                                <div class="item-quantity mt-1 mr-2">
                                    <span class="item-quantity-value mx-1">
                                        {{ cart|cart_count_of:unit.id }}
                                    </span>
                                    <span> шт</span>
                                </div>
                                <div class="item-add-form">
                                    <form action="{% url 'cart:cart_add' unit.id %}" method="post">
                                        {% csrf_token %}
                                        {{ cart_add_product_form }}
                                        <button type="submit" onclick="return addToCart(this)">
                                            <span>{% include 'svg/add.html' %}</span>
                                        </button>
                                    </form>
                                </div>
                            </div>

                            <div class="item-delete-form absolute top-3 right-3">
                                <form action="{% url 'cart:cart_delete' unit.id %}" method="post">
                                    {% csrf_token %}
                                    {{ cart_delete_product_form }}
                                    <button type="submit" onclick="return deleteFromCart(this)">
                                        <span>{% include 'svg/close.html' %}</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endwith %}
                    {% endfor %}
                </div>

                {% with total_prices=cart.total_price %}
                <div class="cart-subtotal">
                    <div class="rounded-lg border bg-white shadow-md p-10">
                        <div class="mb-2 flex justify-between">
                            <p class="text-gray-700">Стоимость товаров</p>
                            <p id="cart-items-price" class="ml-8 text-gray-700">
                                {{ total_prices.items_price|floatformat:"0" }} ₽
                            </p>
                        </div>
                        <div class="flex justify-between">
                            <p class="text-gray-700">Доставка</p>
                            <p id="cart-delivery-price" class="text-gray-700">
                                {{ cart.delivery_price }} ₽
                            </p>
                        </div>
                        <hr class="my-4" />
                        <div class="flex justify-between">
                            <p class="text-lg font-bold">Итого: </p>
                            <div class="">
                                <p id="cart-total-price" class="mb-1 text-lg font-bold">
                                    {{ total_prices.cart_price|floatformat:"0" }} ₽
                                </p>
                                <p class="text-sm text-gray-700">Включая НДС</p>
                            </div>
                        </div>
                        <button
                            class="mt-6 w-full rounded-md bg-blue-500 py-1.5 font-medium text-blue-50 hover:bg-blue-600">
                            <a href="{% url 'orders:order_confirm' %}">
                                Сделать заказ
                            </a>
                        </button>
                    </div>
                </div>
                {% endwith %}
            </div>
        </div>
    </div>

    {% include 'toast/toast_container.html' %}
    {% include 'toast/toast_template.html' %}
</section>