{% load static %}

<div class="mt-10">
    <div class="flex flex-row justify-center">
        <div>
            <div>
                <p class="text-center text-2xl font-bold">Ваша Корзина пуста</p>
                <a href="{% url 'pages:home' %}">
                    <p class="text-center text-2xl font-semibold text-green-400 hover:text-green-200">
                        Сделать покупки
                    </p>
                </a>
            </div>
            <div>
                <img src="{% static 'empty_cart.jpg' %}">
            </div>
        </div>
    </div>
</div>