{% extends 'products_grid/product.html' %}
{% load cart_filters %}

{% block product_units %}
<div class="product-info text-center mt-2 p-4 text-base font-normal"
    id="{{ product.id }}">
    <div class="product-name mt-2 mb-4">
        <a href="{{ product.link }}">
            {{ product.name }}
        </a>
    </div>

    <div class="units-list mx-4">
        <div class="units-selectors mb-4 flex justify-center gap-6">
            {% for unit in product.units.all %}
            <div class="unit-selector {% if forloop.first %}selected{% endif %}"
                unit-id="{{ unit.id }}">
                <button onclick="selectUnit(this)" unit-id="{{ unit.id }}">
                    <p>{{ unit.name }}</p>
                </button>
            </div>
            {% endfor %}
        </div>

        <div class="units-cards">
            {% for unit in product.units.all %}
            <div class="unit-card" unit-id="{{ unit.id }}"
                {% if not forloop.first %}hidden{% endif %}>
                {% include 'products_grid/unit_card.html' %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock product_units %}