{% extends 'products_grid/product.html' %}
{% load cart_filters %}

{% block product_units %}
<div class="product-info text-center mt-2 p-4 text-base font-normal" id="{{ product.id }}">
    <div class="product-name font-medium text-lg">
        <a href="{{ product.link }}">
            <p>{{ product.name }}</p>
        </a>
    </div>

    <div class="units-list mt-2 mx-4">
        <div class="units-selectors flex justify-center gap-6">
            {% for unit in product.units.all %}
            {% if forloop.first %}
            <div class="unit-selector selected" unit-id="{{ unit.id }}">
                <button onclick="selectUnit(this)" unit-id="{{ unit.id }}">
                    <p>{{ unit.name }}</p>
                </button>
            </div>
            {% else %}
            <div class="unit-selector" unit-id="{{ unit.id }}">
                <button onclick="selectUnit(this)" unit-id="{{ unit.id }}">
                    <p>{{ unit.name }}</p>
                </button>
            </div>
            {% endif %}
            {% endfor %}
        </div>

        <div class="units-cards">
            {% for unit in product.units.all %}
            {% if forloop.first %}
            <div class="unit-card" unit-id="{{ unit.id }}">
                <div class="flex justify-between">
                    {% if unit.charcs.measure_count %}
                    <div>
                        <p class="text-sm text-gray-400">
                            <span>({{ unit.charcs.measure_count }}</span>
                            <span>{{unit.charcs.measure.symbol }})</span>
                        </p>
                    </div>
                    {% endif %}
                    <div>
                        КБЖУ
                    </div>
                </div>

                <div class="flex justify-between">
                    <div class="price-value text-start flex items-center">
                        {% if unit.discount_price %}
                        <p class="font-medium text-lg">
                            {{ unit.discount_price|floatformat:"0" }} ₽
                            <span class="ml-1 line-through text-sm text-gray-400">
                                {{unit.price|floatformat:"0"}}₽
                            </span>
                        </p>
                        {% else %}
                        <p class="font-medium text-lg">
                            {{unit.price|floatformat:"0"}} ₽
                        </p>
                        {% endif %}
                        {% if unit.charcs.measure_count %}
                        <div class="ml-2">
                            <p class="text-sm text-gray-400">
                                <span>({{ unit.charcs.measure_count }}</span>
                                <span>{{unit.charcs.measure.symbol }})</span>
                            </p>
                        </div>
                        {% endif %}
                    </div>

                    <div class="unit-forms flex">
                        {% if unit.id in cart %}
                        <div class="unit-remove-form p-1">
                            <form action="{% url 'cart:cart_remove' unit.id %}" method="post">
                                {% csrf_token %}
                                {{ cart_remove_product_form }}
                                <button type="submit" onclick="return removeFromCart(this)">
                                    <span>{% include 'svg/cart_remove.html' %}</span>
                                </button>
                            </form>
                        </div>
                        <div class="unit-quantity p-1 border border-neutral-200">
                            <span class="unit-quantity-value mx-1">
                                {{ cart|cart_count_of:unit.id }}
                            </span>
                        </div>
                        {% else %}
                        <div class="unit-remove-form p-1" hidden>
                            <form action="{% url 'cart:cart_remove' unit.id %}" method="post">
                                {% csrf_token %}
                                {{ cart_remove_product_form }}
                                <button type="submit" onclick="return removeFromCart(this)">
                                    <span>{% include 'svg/cart_remove.html' %}</span>
                                </button>
                            </form>
                        </div>
                        <div class="unit-quantity p-1 border border-neutral-200" hidden>
                            <span class="unit-quantity-value mx-1">0</span>
                        </div>
                        {% endif %}
                        <div class="unit-add-form p-1">
                            <form action="{% url 'cart:cart_add' unit.id %}" method="post">
                                {% csrf_token %}
                                {{ cart_add_product_form }}
                                <button type="submit" onclick="return addToCart(this)">
                                    <span>{% include 'svg/cart_add.html' %}</span>
                                </button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>

            {% else %}
            <div class="unit-card" unit-id="{{ unit.id }}" hidden>
                <div class="flex justify-between ">
                    <div class="price-value text-start flex items-center">
                        {% if unit.discount_price %}
                        <p class="font-medium text-lg">
                            {{ unit.discount_price|floatformat:"0" }} ₽
                            <span class="ml-1 line-through text-sm text-gray-400">
                                {{unit.price|floatformat:"0"}}₽
                            </span>
                        </p>
                        {% else %}
                        <p class="font-medium text-lg">
                            {{unit.price|floatformat:"0"}} ₽
                        </p>
                        {% endif %}
                        {% if unit.charcs.measure_count %}
                        <div class="ml-2">
                            <p class="text-sm text-gray-400">
                                <span>({{ unit.charcs.measure_count }}</span>
                                <span>{{unit.charcs.measure.symbol }})</span>
                            </p>
                        </div>
                        {% endif %}
                    </div>

                    <div class="unit-forms flex">
                        {% if unit.id in cart %}
                        <div class="unit-remove-form p-1">
                            <form action="{% url 'cart:cart_remove' unit.id %}" method="post">
                                {% csrf_token %}
                                {{ cart_remove_product_form }}
                                <button type="submit" onclick="return removeFromCart(this)">
                                    <span>{% include 'svg/cart_remove.html' %}</span>
                                </button>
                            </form>
                        </div>
                        <div class="unit-quantity p-1 border border-neutral-200">
                            <span class="unit-quantity-value mx-1">
                                {{ cart|cart_count_of:unit.id }}
                            </span>
                        </div>
                        {% else %}
                        <div class="unit-remove-form p-1" hidden>
                            <form action="{% url 'cart:cart_remove' unit.id %}" method="post">
                                {% csrf_token %}
                                {{ cart_remove_product_form }}
                                <button type="submit" onclick="return removeFromCart(this)">
                                    <span>{% include 'svg/cart_remove.html' %}</span>
                                </button>
                            </form>
                        </div>
                        <div class="unit-quantity p-1 border border-neutral-200" hidden>
                            <span class="unit-quantity-value mx-1">0</span>
                        </div>
                        {% endif %}
                        <div class="unit-add-form p-1">
                            <form action="{% url 'cart:cart_add' unit.id %}" method="post">
                                {% csrf_token %}
                                {{ cart_add_product_form }}
                                <button type="submit" onclick="return addToCart(this)">
                                    <span>{% include 'svg/cart_add.html' %}</span>
                                </button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock product_units %}