{% load cart_filters %}

<div class="flex justify-between">
    {% if unit.charcs.measure_count %}
    <div>
        <p class="text-sm text-gray-400">
            <span>{{ unit.charcs.measure.display_name }}:</span>
            <span>{{ unit.charcs.measure_count }}</span>
            <span>{{unit.charcs.measure.symbol }}</span>
        </p>
    </div>
    {% endif %}
    <div class="relative group">
        <div class="bg-sec-200 p-1 rounded-lg text-xs text-gray-400">
            КБЖУ
        </div>
        <div class="absolute bottom-2 z-10 -right-16 flex-col items-center hidden mb-5 group-hover:flex">
            <div class="flex gap-1.5 px-8 py-2 rounded-md text-xs text-white bg-black shadow-lg">
                {% if unit.charcs.proteins %}
                <div>
                    <p>{{ unit.charcs.proteins }}</p>
                    <p>бел.</p>
                </div>
                {% endif %}
                {% if unit.charcs.fats %}
                <div>
                    <p>{{ unit.charcs.fats }}</p>
                    <p>жир.</p>
                </div>
                {% endif %}
                {% if unit.charcs.carbohydrates %}
                <div>
                    <p>{{ unit.charcs.carbohydrates }}</p>
                    <p>угл.</p>
                </div>
                {% endif %}
                {% if unit.charcs.kilocalories %}
                <div>
                    <p>{{ unit.charcs.kilocalories }}</p>
                    <p>Ккал</p>
                </div>
                {% endif %}
            </div>
            <div class="w-3 h-3 -mt-2 rotate-45 bg-black"></div>
        </div>
    </div>
</div>

<div class="flex justify-between my-1">
    <div class="price-value text-start flex items-center">
        {% if unit.discount_price %}
        <p class="font-medium text-lg">
            {{ unit.discount_price|floatformat:"0" }} ₽
            <span class="ml-1 line-through text-sm text-gray-400">
                {{ unit.price|floatformat:"0" }}₽
            </span>
        </p>
        {% else %}
        <p class="font-medium text-lg">
            {{ unit.price|floatformat:"0" }} ₽
        </p>
        {% endif %}
    </div>

    <div class="unit-forms flex">
        {% if unit.id in cart %}
        <div class="unit-remove-form p-1">
            <form action="{% url 'cart:cart_remove' unit.id %}" method="post">
                {% csrf_token %}
                {{ cart_remove_product_form }}
                <button type="submit" onclick="return removeFromCart(this)">
                    <span>{% include 'svg/cart_remove.html' %}</span>
                </button>
            </form>
        </div>
        <div class="unit-quantity p-1 border border-neutral-200">
            <span class="unit-quantity-value mx-1">
                {{ cart|cart_count_of:unit.id }}
            </span>
        </div>
        {% else %}
        <div class="unit-remove-form p-1" hidden>
            <form action="{% url 'cart:cart_remove' unit.id %}" method="post">
                {% csrf_token %}
                {{ cart_remove_product_form }}
                <button type="submit" onclick="return removeFromCart(this)">
                    <span>{% include 'svg/cart_remove.html' %}</span>
                </button>
            </form>
        </div>
        <div class="unit-quantity p-1 border border-neutral-200" hidden>
            <span class="unit-quantity-value mx-1">0</span>
        </div>
        {% endif %}
        <div class="unit-add-form p-1">
            <form action="{% url 'cart:cart_add' unit.id %}" method="post">
                {% csrf_token %}
                {{ cart_add_product_form }}
                <button type="submit" onclick="return addToCart(this)">
                    <span>{% include 'svg/cart_add.html' %}</span>
                </button>
            </form>
        </div>
    </div>
</div>