<div class="flex justify-center mb-8">
    <div id="promo-carousel" class="splide" aria-label="Beautiful Images">
        <div class="splide__track">
            <ul class="splide__list">
                {% for promotion in promotion_context %}
                <li class="splide__slide">
                    <div class="relative mx-2">
                        <div class="image-container">
                            <a href="{{ promotion.link }}">
                                <img class="rounded-xl" src="{{ promotion.image.url }}">
                            </a>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>