{% load static %}
<div class="flex justify-center mx-6">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">

        {% for product in products %}
        {% with units=product.units.all %}

        {% if units|length == 1 %}
        {% with unit=units.first %}
        <div class="max-w-sm border rounded-xl bg-red-50 bg-opacity-30">
            <a href="{{ product.link }}">
                {% if product.image %}
                <img src="{{ product.image.url }}">
                {% else %}
                <img src="{% static 'no-image.jpg' %}">
                {% endif %}
            </a>

            <hr class="opacity-50">

            <div class="text-center mt-2 p-4 text-base font-normal" id="{{ product.id }}">
                <p>{{ unit.full_name }}</p>

                <div class="units-list">
                    <div class="units-cards">
                        <div class="unit-card" unit-id="{{ unit.id }}">
                            <div class="flex justify-between">
                                <div class="price-value">
                                    <p>{{ unit.price }} рублей</p>
                                </div>
                                <div class="add-unit-form">
                                    <form action="{% url 'cart:cart_add' unit.id %}" method="post">
                                        {% csrf_token %}
                                        {{ cart_add_product_form }}
                                        <button type="submit" onclick="return addToCart(this)">
                                            <span>{% include 'svg/add.html' %}</span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {% endwith %}

        {% elif units|length > 1 %}
        <div class="max-w-sm border rounded-xl bg-red-50 bg-opacity-30">
            <a href="{{ product.link }}">
                {% if product.image %}
                <img src="{{ product.image.url }}">
                {% else %}
                <img src="{% static 'no-image.jpg' %}">
                {% endif %}
            </a>

            <hr class="opacity-50">

            <div class="text-center mt-2 p-4 text-base font-normal" id="{{ product.id }}">
                <p>{{ product.name }}</p>

                <div class="units-list">
                    <div class="units-selectors flex justify-center gap-6">
                        {% for unit in product.units.all %}
                        {% if forloop.first %}
                        <div class="unit selected" unit-id="{{ unit.id }}">
                            <button onclick="selectUnit(this)" id="{{ unit.id }}">
                                <p>{{ unit.name }}</p>
                            </button>
                        </div>
                        {% else %}
                        <div class="unit" unit-id="{{ unit.id }}">
                            <button onclick="selectUnit(this)" id="{{ unit.id }}">
                                <p>{{ unit.name }}</p>
                            </button>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>

                    <div class="units-cards">
                        {% for unit in product.units.all %}
                        {% if forloop.first %}
                        <div class="unit-card" unit-id="{{ unit.id }}">
                            <div class="flex justify-between">
                                <div class="price-value">
                                    <p>{{ unit.price }} рублей</p>
                                </div>
                                <div class="add-unit-form">
                                    <form action="{% url 'cart:cart_add' unit.id %}" method="post">
                                        {% csrf_token %}
                                        {{ cart_add_product_form }}
                                        <button type="submit" onclick="return addToCart(this)">
                                            <span>{% include 'svg/add.html' %}</span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="unit-card" unit-id="{{ unit.id }}" hidden>
                            <div class="flex justify-between ">
                                <div class="price-value">
                                    <p>{{ unit.price }} рублей</p>
                                </div>
                                <div class="add-unit-form">
                                    <form action="{% url 'cart:cart_add' unit.id %}" method="post">
                                        {% csrf_token %}

                                        {% for field in cart_add_product_form %}
                                        {{ field }}
                                        {% endfor %}

                                        <button type="submit" onclick="return addToCart(this)">
                                            <span>{% include 'svg/add.html' %}</span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>

        {% endif %}
        {% endwith %}
        {% endfor %}

    </div>
</div>