{% extends 'base.html' %}
{% load static %}

{% block seo %}
{% endblock seo %}

{% block title %}
{{ category.name }}
{% endblock title %}

{% block category_slider %}
{% include 'category_slider/category_slider.html' with current_category=category.name %}
{% endblock category_slider %}

{% block main %}
{% with product=category.product_promotions.product.all %}
{% include 'products_grid/products_grid.html' with products=products %}
{% endwith %}
{% endblock main %}

{% block js_dependencies %}
<script src="{% static 'products_grid/products_grid.js' %}" type="application/javascript"></script>
{% endblock js_dependencies %}