<div id="map-container">
</div>

<script src="https://mapgl.2gis.com/api/js/v1?callback=initMap" async defer></script>
<script>
    function initMap() {
        const map = new mapgl.Map('map-container', {
            center: [37.62008082627183, 55.74138219394949],
            zoom: 12,
            key: '23a98d01-8510-476a-a3d2-6367841f27d2',
        });
        const marker = new mapgl.Marker(map, {
            coordinates: [37.62008082627183, 55.74138219394949],
            label: {
                text: 'Наш адрес здесь',
                offset: [-10, -10],
                relativeAnchor: [1, 1],
            },
        });
    }
</script>