<div style="position:relative;overflow:hidden;">
    <a href="https://yandex.ru/maps/org/moskovskiy_kreml/1023322799/?utm_medium=mapframe&utm_source=maps"
        style="color:#eee;font-size:12px;position:absolute;top:0px;">
        Московский Кремль
    </a>
    <a href="https://yandex.ru/maps/213/moscow/category/museum/184105894/?utm_medium=mapframe&utm_source=maps"
        style="color:#eee;font-size:12px;position:absolute;top:14px;">
        Музей в Москве
    </a>
    <a href="https://yandex.ru/maps/213/moscow/category/landmark_attraction/89683368508/?utm_medium=mapframe&utm_source=maps"
        style="color:#eee;font-size:12px;position:absolute;top:28px;">
        Достопримечательность в Москве
    </a>
    <iframe id="map-frame"
        src="https://yandex.ru/map-widget/v1/?ll=37.627117%2C55.751830&mode=poi&poi%5Bpoint%5D=37.618843%2C55.751443&poi%5Buri%5D=ymapsbm1%3A%2F%2Forg%3Foid%3D1023322799&utm_source=share&z=14.95"
        frameborder="1" allowfullscreen="true" style="position:relative;">
    </iframe>
</div>