<div class="units-selectors flex justify-start gap-6">
    {% for unit in product.units.all %}
    {% if forloop.first %}
    <div class="unit-selector selected" unit-id="{{ unit.id }}">
        <button onclick="selectUnit(this)" unit-id="{{ unit.id }}">
            <p>{{ unit.name }}</p>
        </button>
    </div>
    {% else %}
    <div class="unit-selector" unit-id="{{ unit.id }}">
        <button onclick="selectUnit(this)" unit-id="{{ unit.id }}">
            <p>{{ unit.name }}</p>
        </button>
    </div>
    {% endif %}
    {% endfor %}
</div>

<div class="units-cards">
    {% for unit in units %}
    {% if forloop.first %}
    <div class="unit-card" unit-id="{{ unit.id }}">
        {% include 'product_detail/unit_card.html' %}
    </div>
    {% else %}
    <div class="unit-card" unit-id="{{ unit.id }}" hidden>
        {% include 'product_detail/unit_card.html' %}
    </div>
    {% endif %}
    {% endfor %}
</div>

<div class="product-description">
    <p class="text-gray-500">
        {{ product.description }}
    </p>
</div>

<div class="units-buttons mt-2">
    {% for unit in units %}
    {% if forloop.first %}
    <div class="unit-forms" unit-id="{{ unit.id }}">
        {% include 'product_detail/unit_forms.html' %}
    </div>

    {% else %}
    <div class="unit-forms" unit-id="{{ unit.id }}" hidden>
        {% include 'product_detail/unit_forms.html' %}
    </div>
    {% endif %}
    {% endfor %}
</div>