{% load static %}
<div class="max-w-7xl mx-auto mt-8 py-12 bg-base-100 border border-gray-200">
    <div class="px-4 sm:px-6 lg:px-8 mt-16">
        <div class="flex flex-col md:flex-row -mx-4">

            <div class="md:flex-1 px-4">
                <div class="h-64 md:h-80 rounded-lg mb-4">
                    <div class="h-64 md:h-80 rounded-lg mb-4 flex items-center justify-center">
                        {% if product.image %}
                        <img class="duration-500 hover:scale-105" src="{{ product.image.url }}">
                        {% else %}
                        <img src="{% static 'no-image.jpg' %}">
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="md:flex-1 px-4">
                <h2 class="mb-2">
                    {{ product.name }}
                </h2>

                {% if product.product_tags.all %}
                <div class="flex gap-1">
                    {% for product_tag in product.product_tags.all %}
                    <p class="text-gray-500 text-sm">
                        {{ product_tag.tag.name }}
                    </p>
                    {% endfor %}
                </div>
                {% endif %}

                {% with units=product.units.all %}

                {% if units|length == 1 %}
                {% include 'product_detail/product_one_price.html' %}

                {% else %}
                {% include 'product_detail/product_multiple_price.html' %}
                {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>

    {% include 'toast/toast_container.html' %}
    {% include 'toast/toast_template.html' %}
</div>