{% load cart_filters %}

<div class="flex">
    <div class="unit-add-form p-1">
        <form action="{% url 'cart:cart_add' unit.id %}" method="post">
            {% csrf_token %}
            {{ cart_add_product_form }}
            <button type="submit" onclick="return addToCart(this)">
                <span>{% include 'svg/cart_add.html' %}</span>
            </button>
        </form>
    </div>
    {% if unit.id in cart %}
    <div class="unit-quantity p-1 border border-neutral-200">
        <span class="unit-quantity-value mx-1">
            {{ cart|cart_count_of:unit.id }}
        </span>
    </div>
    <div class="unit-remove-form p-1">
        <form action="{% url 'cart:cart_remove' unit.id %}" method="post">
            {% csrf_token %}
            {{ cart_remove_product_form }}
            <button type="submit" onclick="return removeFromCart(this)">
                <span>{% include 'svg/cart_remove.html' %}</span>
            </button>
        </form>
    </div>
    {% else %}
    <div class="unit-quantity p-1 border border-neutral-200" hidden>
        <span class="unit-quantity-value mx-1">0</span>
    </div>
    <div class="unit-remove-form p-1" hidden>
        <form action="{% url 'cart:cart_remove' unit.id %}" method="post">
            {% csrf_token %}
            {{ cart_remove_product_form }}
            <button type="submit" onclick="return removeFromCart(this)">
                <span>{% include 'svg/cart_remove.html' %}</span>
            </button>
        </form>
    </div>
    {% endif %}
</div>