<div class="flex items-center space-x-4 my-4">
    <div class="rounded-lg bg-gray-100 flex py-2 px-3">
        {% if unit.discount_price %}
        <span class="font-bold text-red-500 text-3xl">
            {{unit.discount_price|floatformat:"0"}}
        </span>
        <span class="text-red-400 ml-1 mt-1">₽</span>
        <p class="ml-1 mt-2 line-through font-bold text-red-400 text-sm">
            {{unit.price|floatformat:"0"}}
        </p>
        {% else %}
        <span class="font-bold text-red-500 text-3xl">{{unit.price|floatformat:"0"}}</span>
        <span class="text-red-400 ml-1 mt-1">₽</span>
        {% endif %}
    </div>
    <div class="flex-1">
        {% if unit.discount %}
        <p class="text-green-500 text-xl font-semibold">Скидка {{ unit.discount }}%</p>
        {% endif %}
        <p class="text-gray-400 text-sm">Без учета доставки</p>
    </div>
</div>

<div class="flex flex-col">
    {% if unit.charcs.measure_count %}
    <div>
        <p>
            <span>{{ unit.charcs.measure.display_name }}:</span>
            <span>{{ unit.charcs.measure_count }}</span>
            <span>{{unit.charcs.measure.symbol }}</span>
        </p>
    </div>
    {% endif %}

    {% if unit.charcs.quantity %}
    <div>
        <p>
            Количество в упаковке: {{ unit.charcs.quantity }} шт
        </p>
    </div>
    {% endif %}

    <div class="flex gap-1">
        {% if unit.charcs.proteins %}
        <p>
            Белки: {{ unit.charcs.proteins }}
        </p>
        {% endif %}
        {% if unit.charcs.fats %}
        <p>
            Жиры: {{ unit.charcs.fats }}
        </p>
        {% endif %}
        {% if unit.charcs.carbohydrates %}
        <p>
            Углеводы: {{ unit.charcs.carbohydrates }}
        </p>
        {% endif %}
        {% if unit.charcs.kilocalories %}
        <p>
            Килокалории: {{ unit.charcs.kilocalories }}
        </p>
        {% endif %}
    </div>
</div>