{% load static %}

<div class="mt-10">
    <div class="flex flex-row justify-center">
        <div>
            <div>
                <h1>
                    Ваша Корзина пуста
                </h1>
                <a class="mt-4" href="{% url 'pages:menu' %}">
                    <h2 class="text-success duration-200 hover:text-accent">
                        Сделать покупки
                    </h2>
                </a>
            </div>
            <div>
                <img src="{% static 'empty_cart.png' %}">
            </div>
        </div>
    </div>
</div>