{% load static %}

<div class="items-grid flex justify-center mx-6">
    <div
        class="items-grid-wrapper grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">

        {% for item in categories_context %}
        <div
            class="item category-card">
            <div class="item-image overflow-hidden">
                {% if item.image %}
                <img class="rounded-t-xl"
                    src="{{ item.image.url }}">
                {% else %}
                <img class="rounded-t-xl" src="{% static 'no-image.jpg' %}">
                {% endif %}
            </div>

            <div class="item-content p-6 flex justify-between items-center">
                <h3>
                    {{ item.name }}
                </h3>
                <button class="btn group">
                    <a href="{{ item.link }}">
                        Подробнее
                    </a>
                </button>
            </div>
        </div>
        {% endfor %}

    </div>
</div>