{% extends 'base.html' %}

{% block seo %}
{% endblock seo %}

{% block title %}
Аккаунт
{% endblock title %}

{% block main %}
<div class="max-w-lg border border-gray-200 bg-base-100 mt-8 mx-auto py-5 px-10">
    <div class="account-error-block text-red-600 text-center mt-2">
        {% block account_errors %}
        {% endblock account_errors %}
    </div>

    <div class="account-message-block text-yellow-600 text-center mt-2">
        {% block account_messages %}
        {% endblock account_messages %}
    </div>

    {% block account_main %}
    {% endblock account_main %}
</div>
{% endblock main %}