{% extends 'accounts/account_base.html' %}

{% if errors %}
{% block account_errors %}
{% for error in errors %}
<div>
    <p>{{ error }}</p>
</div>
{% endfor %}
{% endblock account_errors %}
{% endif %}

{% if login_messages %}
{% block account_messages %}
{% for msg in login_messages %}
<div>
    <p>{{ msg }}</p>
</div>
{% endfor %}
{% endblock account_messages %}
{% endif %}

{% block account_main %}
<div class="flex flex-col">
    <h1 class="text-center text-lg font-medium my-4">Ваш аккаунт</h1>
    <div class="account-info my-4">
        <div class="flex justify-between">
            <p>Номер телефона: {{ user.phone }}</p>
            <button class="text-red-600 hover:text-red-400">
                <a href="{% url 'accounts:change_phone' %}">
                    Сменить
                </a>
            </button>
        </div>

        <div>
            {% if user.first_name %}
            <p>Имя: {{ user.first_name }}</p>
            {% else %}
            <p>Имя: Не указано</p>
            {% endif %}
        </div>

        <div>
            {% if user.last_name %}
            <p>Фамилия: {{ user.last_name }}</p>
            {% else %}
            <p>Фамилия: Не указана</p>
            {% endif %}
        </div>
        <div>
            <button class="text-red-600 hover:text-red-400">
                <a href="{% url 'accounts:change_presonal_info' %}">
                    Редактировать аккаунт
                </a>
            </button>
        </div>
    </div>

    <div class="flex justify-between mt-6">
        <div>
            <div>
                <button class="text-red-600 hover:text-red-400">
                    <a href="{% url 'accounts:change_password' %}">
                        Сменить пароль
                    </a>
                </button>
            </div>
        </div>

        <div class="mt-auto flex justify-end">
            <button class="text-red-600 hover:text-red-400">
                <a href="{% url 'accounts:account_logout' %}">
                    Выйти из аккаунта
                </a>
            </button>
        </div>
    </div>

</div>
{% endblock account_main %}