{% extends 'accounts/account_base.html' %}

{% block title %}
Смена пароля
{% endblock title %}

{% if errors %}
{% block account_errors %}
{% for error in errors %}
<div>
    <p>{{ error }}</p>
</div>
{% endfor %}
{% endblock account_errors %}
{% endif %}

{% block account_main %}
<div>
    <form method="post">
        {% csrf_token %}
        <div class="flex flex-col gap-2">
            {{ change_phone_form.as_div }}
            <button class="mt-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">
                Подтвердить
            </button>
        </div>
    </form>
</div>
<button class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
    <a href="{% url 'accounts:account_page' %}">
        Вернуться назад
    </a>
</button>
{% endblock account_main %}