{% extends 'accounts/account_base.html' %}
{% load static %}

{% block title %}
Подтверждение номера телефона
{% endblock title %}

{% if errors %}
{% block account_errors %}
{% for error in errors %}
<div>
    <p>{{ error }}</p>
</div>
{% endfor %}
{% endblock account_errors %}
{% endif %}

{% if login_messages %}
{% block account_messages %}
{% for msg in login_messages %}
<div>
    <p>{{ msg }}</p>
</div>
{% endfor %}
{% endblock account_messages %}
{% endif %}


{% block account_main %}
<div>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ phone_confirmation_form.as_div }}
            <button class="mt-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">
                Отправить
            </button>
        </form>
    </div>

    <div class="mt-4">
        <h1>Не пришел код?</h1>

        <div id="resend-code" hidden>
            <button class="mt-2 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" type="submit">
                <a href="{% url 'accounts:resend_code' action %}">
                    Отправить новый
                </a>
            </button>
        </div>

        <div id="resend-code-time-element">
            <p>
                Отправить новый: через
                <span id="resend-code-time">
                    {{ resend_time }}
                </span>
                <span> секунд</span>
            </p>
        </div>
    </div>
</div>

<script>
    let resendCodeElement = document.getElementById("resend-code");
    let resendCodeTimeElement = document.getElementById("resend-code-time-element");

    let timeElement = document.getElementById("resend-code-time");
    let timeValue = parseInt(timeElement.textContent);

    let countDown = setInterval(function () {
        timeValue--;
        timeElement.textContent = timeValue;

        if (timeValue <= 0) {
            clearInterval(countDown);
            resendCodeElement.removeAttribute("hidden");
            resendCodeTimeElement.setAttribute("hidden", true);
        }
    }, 1000);
</script>

{% endblock account_main %}