{% extends 'base.html' %}

{% block title %}
Подтверждение номера телефона
{% endblock title %}

{% block main %}
{% if errors %}
{% for error in errors %}
<h1 class="text-red-600">{{ error }}</h1>
{% endfor %}
{% endif %}

<form method="post">
    {% csrf_token %}
    {{ phone_confirmation_form.as_p }}
    <button type="submit">Отправить</button>
</form>

<h1>Не пришел код?</h1>

<p1 id="resend-code">
    <button class="text-red-500">
        <a href="{% url 'accounts:resend_code' action %}">
            Отправить новый
        </a>
    </button>
</p1>

<p1 id="resend-code-time-element">
    Отправить новый: через
    <span id="resend-code-time">
        {{ resend_time }}
    </span>
    <span> секунд</span>
</p1>

<script>
    let resendCodeElement = document.getElementById('resend-code')
    let resendCodeTimeElement = document.getElementById('resend-code-time-element');

    let timeElement = document.getElementById('resend-code-time');
    let timeValue = parseInt(timeElement.textContent);

    let countDown = setInterval(function () {
        timeValue--;
        timeElement.textContent = timeValue;

        if (timeValue <= 0) {
            clearInterval(countDown);
            resendCodeElement.removeAttribute('hidden');
            resendCodeTimeElement.setAttribute('hidden', true);
        }
    }, 1000)
</script>

{% endblock main %}