{% extends 'accounts/account_base.html' %}

{% block title %}
Авторизация
{% endblock title %}

{% if errors %}
{% block account_errors %}
{% for error in errors %}
<div>
    <p>{{ error }}</p>
</div>
{% endfor %}
{% endblock account_errors %}
{% endif %}

{% if login_messages %}
{% block account_messages %}
{% for msg in login_messages %}
<div>
    <p>{{ msg }}</p>
</div>
{% endfor %}
{% endblock account_messages %}
{% endif %}

{% block account_main %}
<div>
    <div class="my-4">
        <h1 class="text-center text-lg font-medium my-4">Авторизация</h1>
        <form method="post">
            {% csrf_token %}
            <div class="flex flex-col gap-2">
                {{ user_login_form.as_div }}
                <button class="mt-2 btn" type="submit">
                    Вход
                </button>
            </div>
        </form>
    </div>

    <div class="flex justify-between my-2">
        <p>Забыли пароль?</p>
        <a class="text-error" href="{% url 'accounts:restore_password' %}">
            Восстановить пароль
        </a>
    </div>

    <div class="flex justify-between my-2">
        <p>Нет аккаунта?</p>
        <a class="text-error" href="{% url 'accounts:account_register' %}">
            Зарегистрироваться
        </a>
    </div>

</div>
{% endblock account_main %}