{% extends 'accounts/account_base.html' %}

{% block title %}
Регистрация
{% endblock title %}

{% if errors %}
{% block account_errors %}
{% for error in errors %}
<div>
    <p>{{ error }}</p>
</div>
{% endfor %}
{% endblock account_errors %}
{% endif %}

{% if login_messages %}
{% block account_messages %}
{% for msg in login_messages %}
<div>
    <p>{{ msg }}</p>
</div>
{% endfor %}
{% endblock account_messages %}
{% endif %}

{% block account_main %}
<div>
    <div class="my-4">
        <h1 class="text-center my-4">Регистрация</h1>
        <form method="post">
            {% csrf_token %}
            <div class="flex flex-col gap-2">
                {{ user_creation_form.as_div }}
                <div>
                    <button class="mt-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                        type="submit">
                        Зарегистрироваться
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="flex justify-between my-2">
        <p>Уже есть аккаунт?</p>
        <a href="{% url 'accounts:account_login' %}">
            <p class="text-red-600 hover:text-red-400">Авторизироваться</p>
        </a>
    </div>

    <div class="flex justify-between my-2">
        <p>Забыли пароль?</p>
        <a href="{% url 'accounts:restore_password' %}">
            <p class="text-red-600 hover:text-red-400">Восстановить пароль</p>
        </a>
    </div>

</div>
{% endblock account_main %}