{% extends 'accounts/account_base.html' %}
{% load static %}

{% block title %}
Подтверждение номера телефона
{% endblock title %}

{% if errors %}
{% block account_errors %}
{% for error in errors %}
<div>
    <p>{{ error }}</p>
</div>
{% endfor %}
{% endblock account_errors %}
{% endif %}

{% if login_messages %}
{% block account_messages %}
{% for msg in login_messages %}
<div>
    <p>{{ msg }}</p>
</div>
{% endfor %}
{% endblock account_messages %}
{% endif %}


{% block account_main %}
<div>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ phone_confirmation_form.as_p }}
            <button type="submit">Отправить</button>
        </form>
    </div>

    <div>
        <h1>Не пришел код?</h1>

        <div>
            <p id="resend-code">
                <button class="text-red-500">
                    <a href="{% url 'accounts:resend_restore_code' %}">
                        Отправить новый
                    </a>
                </button>
            </p>
        </div>

        <div>
            <p id="resend-code-time-element">
                Отправить новый: через
                <span id="resend-code-time">
                    {{ resend_time }}
                </span>
                <span> секунд</span>
            </p>
        </div>
    </div>
</div>
{% endblock account_main %}

{% block js_dependencies %}
<script src="{% static 'accounts/restore_confirm.js' %}"></script>
{% endblock js_dependencies %}