{% extends 'accounts/account_base.html' %}

{% block title %}
Восстановление пароля
{% endblock title %}

{% if errors %}
{% block account_errors %}
{% for error in errors %}
<div>
    <p>{{ error }}</p>
</div>
{% endfor %}
{% endblock account_errors %}
{% endif %}

{% if login_messages %}
{% block account_messages %}
{% for msg in login_messages %}
<div>
    <p>{{ msg }}</p>
</div>
{% endfor %}
{% endblock account_messages %}
{% endif %}

{% block account_main %}
<div>
    <div class="my-4">
        <h1 class="text-center text-lg font-medium my-4">Восстановление пароля</h1>
        <form method="post">
            {% csrf_token %}
            <div class="flex flex-col gap-2">
                {{ restore_password_form.as_div }}
                <div>
                    <button class="mt-2 btn"
                        type="submit">
                        Восстановить пароль
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="flex justify-between my-2">
        <p>Вспомнили пароль?</p>
        <a class="text-error" href="{% url 'accounts:account_login' %}">
            Авторизироваться
        </a>
    </div>

    <div class="flex justify-between my-2">
        <p>Нет аккаунта?</p>
        <a class="text-error" href="{% url 'accounts:account_register' %}">
            Зарегистрироваться
        </a>
    </div>

</div>
{% endblock account_main %}