{% extends 'base.html' %}

{% block seo %}
{% endblock seo %}

{% block title %}
О компании
{% endblock title %}

{% block main %}
<div class="flex justify-center mt-8">
    <div class="w-full max-w-screen-lg bg-base-100 p-8 border border-gray-200 mx-4">
        <h1>
            О компании
        </h1>
        <p class="mt-8">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate explicabo ratione doloribus, soluta
            magnam adipisci maxime exercitationem doloremque earum, repellat esse veniam. Odio illo provident aperiam,
            assumenda natus expedita nulla.
        </p>
    </div>
</div>
{% endblock main %}