{% extends 'base.html' %}

{% block seo %}
{% endblock seo %}

{% block title %}
Блог
{% endblock title %}

{% block main %}
<div class="flex justify-center mt-8">
    <div class="w-full max-w-screen-lg bg-sec p-8 border rounded-xl mx-4">
        <h1 class="text-center font-medium">
            Блог
        </h1>
        <p class="mt-2">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate explicabo ratione doloribus, soluta
            magnam adipisci maxime exercitationem doloremque earum, repellat esse veniam. Odio illo provident aperiam,
            assumenda natus expedita nulla.
        </p>
    </div>
</div>
{% endblock main %}