{% extends 'base.html' %}

{% block seo %}
{% endblock seo %}

{% block title %}
Коммерческое предложение
{% endblock title %}

{% block main %}
<div class="flex justify-center mt-8">
    <div class="w-full max-w-screen-lg bg-base-100 p-8 border border-gray-200 mx-4">
        <h1>
            Коммерческое предложение
        </h1>
        <p class="mt-8">
            Для предоставления коммерческих предложений обращайтесь по номеру телефон: 89012207967
        </p>
    </div>
</div>
{% endblock main %}