{% extends 'base.html' %}

{% block seo %}
{% endblock seo %}

{% block title %}
Информация для потребителей
{% endblock title %}

{% block main %}
<div class="flex justify-center mt-8">
    <div class="w-full max-w-screen-lg bg-base-100 p-8 border border-gray-200 mx-4">
        <h1>
            Информация для потребителей
        </h1>
        <div class="flex flex-col gap-2">
            <div class="my-8">
                <h2>О составе</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis suscipit commodi eos, assumenda
                    voluptate
                    nihil optio quas adipisci aut blanditiis nam hic recusandae ad laborum nisi! Quam id dolores soluta.
                </p>
            </div>
            <div class="my-8">
                <h2>Сроки годности</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis suscipit commodi eos, assumenda
                    voluptate
                    nihil optio quas adipisci aut blanditiis nam hic recusandae ad laborum nisi! Quam id dolores soluta.
                </p>
            </div>
            <div class="my-8">
                <h2>Природные антисептики</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis suscipit commodi eos, assumenda
                    voluptate
                    nihil optio quas adipisci aut blanditiis nam hic recusandae ad laborum nisi! Quam id dolores soluta.
                </p>
            </div>
            <div class="my-8">
                <h2>Противопоказания</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis suscipit commodi eos, assumenda
                    voluptate
                    nihil optio quas adipisci aut blanditiis nam hic recusandae ad laborum nisi! Quam id dolores soluta.
                </p>
            </div>
            <div class="my-8">
                <h2>Контроль качества</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis suscipit commodi eos, assumenda
                    voluptate
                    nihil optio quas adipisci aut blanditiis nam hic recusandae ad laborum nisi! Quam id dolores soluta.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock main %}