{% extends 'base.html' %}

{% block seo %}
{% endblock seo %}

{% block title %}
Информация для потребителей
{% endblock title %}

{% block main %}
<div class="flex justify-center mt-8">
    <div class="w-full max-w-screen-lg bg-sec p-8 border rounded-xl mx-4">
        <h1 class="text-center font-medium">
            Информация для потребителей
        </h1>
        <div class="flex flex-col gap-2">
            <div class="mt-4">
                <h1 class="font-medium">О составе</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis suscipit commodi eos, assumenda
                    voluptate
                    nihil optio quas adipisci aut blanditiis nam hic recusandae ad laborum nisi! Quam id dolores soluta.
                </p>
            </div>
            <div class="mt-4">
                <h1 class="font-medium">Сроки годности</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis suscipit commodi eos, assumenda
                    voluptate
                    nihil optio quas adipisci aut blanditiis nam hic recusandae ad laborum nisi! Quam id dolores soluta.
                </p>
            </div>
            <div class="mt-4">
                <h1 class="font-medium">Природные антисептики</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis suscipit commodi eos, assumenda
                    voluptate
                    nihil optio quas adipisci aut blanditiis nam hic recusandae ad laborum nisi! Quam id dolores soluta.
                </p>
            </div>
            <div class="mt-4">
                <h1 class="font-medium">Противопоказания</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis suscipit commodi eos, assumenda
                    voluptate
                    nihil optio quas adipisci aut blanditiis nam hic recusandae ad laborum nisi! Quam id dolores soluta.
                </p>
            </div>
            <div class="mt-4">
                <h1 class="font-medium">Контроль качества</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis suscipit commodi eos, assumenda
                    voluptate
                    nihil optio quas adipisci aut blanditiis nam hic recusandae ad laborum nisi! Quam id dolores soluta.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock main %}