{% extends 'base.html' %}

{% block seo %}
{% endblock seo %}

{% block title %}
Реквизиты
{% endblock title %}

{% block main %}
<div class="flex justify-center mt-8">
    <div class="w-full max-w-screen-lg bg-sec p-8 border rounded-xl mx-4">
        <h1 class="text-center font-medium">
            Реквизиты компании
        </h1>
        <div class="mt-4">
            <h2 class="font-medium">Контакты</h2>
            <div class="flex flex-col gap-1 mt-2">
                <p>Номера телефонов</p>
                <p>8-901-220-79-67</p>
            </div>
            <div class="flex flex-col gap-1 mt-2">
                <p>Почта</p>
                <p>tomilov.vana@gmail.com</p>
            </div>
        </div>
        <div class="mt-4">
            <h2 class="font-medium">Адрес</h2>
            <p class="mt-1">
                Российская Федерация, город Москва, улица "Улица", дом "Номер дома"
            </p>
        </div>
        <div class="mt-4">
            <h2 class="font-medium">Реквизиты</h2>
            <div class="flex flex-col gap-1 mt-2">
                <p>ООО "НашаКомпания"</p>
                <p>ИНН/КПП "Номер ИНН"</p>
                <p>ОГРНИП "Номер ОГРНИП"</p>
                <p>Юр. адрес: "Юр. адрес"</p>
                <p>Факт. адрес: "Факт. адрес"</p>
            </div>
        </div>
    </div>
</div>
{% endblock main %}