<div class="hidden sm:flex my-4 gap-2 justify-center ">

    {% for category in categories_context %}
    {% if category.show_navbar %}
    <div class="group">
        <a href="{{ category.link }}">
            <!-- Max width control -->

            {% if current_category == category.name %}
            <div class="w-24 h-24 items-center justify-center rounded-lg bg-red-100 p-2">
                {% if category.icon %}
                <img src="{{ category.icon.url }}">
                {% endif %}
                <div class="text-center text-sm">{{ category.name }}</div>
            </div>
            {% else %}
            <div class="w-24 h-24 items-center justify-center rounded-xl p-2">
                {% if category.icon %}
                <img src="{{ category.icon.url }}">
                {% endif %}
                <div class="text-center text-sm">{{ category.name }}</div>
            </div>
            {% endif %}

        </a>
    </div>
    {% endif %}
    {% endfor %}

</div>