{% load static %}
<!DOCTYPE html>

<html lang="ru">

<head>
    <title>
        {% block title %}
        {% endblock title %}
    </title>

    {% block seo %}
    {% endblock seo %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">

    <link href="{% static 'category_slider/category_slider.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'promo_slider/promo_slider.css' %}" rel="stylesheet" type="text/css">

    <link href="{% static 'fonts/roboto.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fonts/material-icons.css' %}" rel="stylesheet" type="text/css">

    <link href="{% static 'splide/splide.min.css' %}" rel="stylesheet" type="text/css">

    {% block css_dependencies %}
    {% endblock css_dependencies %}
</head>

<body class="max-w-screen-2xl mx-auto bg-prim">
    <div class="flex flex-col h-screen justify-between">

        <header
            class="p-2 fixed left-0 right-0 top-0 z-30 bg-sec mx-auto border-b max-w-screen-2xl rounded-b-xl shadow-sm">
            {% include 'header/header.html' %}
        </header>

        <div class="mt-32">
            {% block category_slider %}
            {% include 'category_slider/category_slider.html' with current_category=None %}
            {% endblock category_slider %}
        </div>

        <main>
            {% block main %}
            {% endblock main%}
        </main>

        {% include 'footer/footer.html' %}

    </div>

    {% include 'toast/toast_container.html' %}
    {% include 'toast/toast_template.html' %}

    <script src="{% static 'header/header.js' %}" type="application/javascript"></script>
    <script src="{% static 'header/cart_badge.js' %}" type="application/javascript"></script>
    <script src="{% static 'toast/toast.js' %}" type="application/javascript"></script>
    <script src="{% static 'category_slider/category_slider.js' %}" type="application/javascript"></script>
    <script src="{% static 'promo_slider/promo_slider.js' %}" type="application/javascript"></script>
    <script src="{% static 'splide/splide.min.js' %}" type="application/javascript"></script>

    {% block js_dependencies %}
    {% endblock js_dependencies %}

</body>

</html>