{% load cart_filters %}

<div class="units-selectors flex justify-start gap-6">
    {% for unit in product.units.all %}
    {% if forloop.first %}
    <div class="unit-selector selected" unit-id="{{ unit.id }}">
        <button onclick="selectUnit(this)" unit-id="{{ unit.id }}">
            <p>{{ unit.name }}</p>
        </button>
    </div>
    {% else %}
    <div class="unit-selector" unit-id="{{ unit.id }}">
        <button onclick="selectUnit(this)" unit-id="{{ unit.id }}">
            <p>{{ unit.name }}</p>
        </button>
    </div>
    {% endif %}
    {% endfor %}
</div>

<div class="units-cards">
    {% for unit in units %}
    {% if forloop.first %}
    <div class="unit-card" unit-id="{{ unit.id }}">
        <div class="flex items-center space-x-4 my-4">
            <div class="rounded-lg bg-gray-100 flex py-2 px-3">
                {% if unit.discount_price %}
                <span class="font-bold text-red-500 text-3xl">
                    {{unit.discount_price|floatformat:"0"}}
                </span>
                <span class="text-red-400 ml-1 mt-1">₽</span>
                <p class="ml-1 mt-2 line-through font-bold text-red-400 text-sm">
                    {{unit.price|floatformat:"0"}}
                </p>
                {% else %}
                <span class="font-bold text-red-500 text-3xl">{{unit.price|floatformat:"0"}}</span>
                <span class="text-red-400 ml-1 mt-1">₽</span>
                {% endif %}
            </div>
            <div class="flex-1">
                {% if unit.discount %}
                <p class="text-green-500 text-xl font-semibold">Скидка {{ unit.discount }}%</p>
                {% endif %}
                <p class="text-gray-400 text-sm">Без учета доставки</p>
            </div>
        </div>
    </div>
    {% else %}
    <div class="unit-card" unit-id="{{ unit.id }}" hidden>
        <div class="flex items-center space-x-4 my-4">
            <div class="rounded-lg bg-gray-100 flex py-2 px-3">
                {% if unit.discount_price %}
                <span class="font-bold text-red-500 text-3xl">
                    {{unit.discount_price|floatformat:"0"}}
                </span>
                <span class="text-red-400 ml-1 mt-1">₽</span>
                <p class="ml-1 mt-2 line-through font-bold text-red-400 text-sm">
                    {{unit.price|floatformat:"0"}}
                </p>
                {% else %}
                <span class="font-bold text-red-500 text-3xl">{{unit.price|floatformat:"0"}}</span>
                <span class="text-red-400 ml-1 mt-1">₽</span>
                {% endif %}
            </div>
            <div class="flex-1">
                {% if unit.discount %}
                <p class="text-green-500 text-xl font-semibold">Скидка {{ unit.discount }}%</p>
                {% endif %}
                <p class="text-gray-400 text-sm">Без учета доставки</p>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

<div class="product-description">
    <p class="text-gray-500">
        {{ product.description }}
    </p>
</div>

<div class="units-buttons">
    {% for unit in units %}
    {% if forloop.first %}
    <div class="unit-forms" unit-id="{{ unit.id }}">
        <div class="flex">
            {% if unit.id in cart %}
            <div class="unit-remove-form">
                <form action="{% url 'cart:cart_remove' unit.id %}" method="post">
                    {% csrf_token %}
                    {{ cart_remove_product_form }}
                    <button type="submit" onclick="return removeFromCart(this)">
                        <span>{% include 'svg/remove.html' %}</span>
                    </button>
                </form>
            </div>
            <div class="unit-quantity">
                <span class="unit-quantity-value mx-1">
                    {{ cart|cart_count_of:unit.id }}
                </span>
                <span> шт</span>
            </div>
            {% else %}
            <div class="unit-remove-form" hidden>
                <form action="{% url 'cart:cart_remove' unit.id %}" method="post">
                    {% csrf_token %}
                    {{ cart_remove_product_form }}
                    <button type="submit" onclick="return removeFromCart(this)">
                        <span>{% include 'svg/remove.html' %}</span>
                    </button>
                </form>
            </div>
            <div class="unit-quantity" hidden>
                <span class="unit-quantity-value mx-1">0</span>
                <span> шт</span>
            </div>
            {% endif %}
            <div class="unit-add-form">
                <form action="{% url 'cart:cart_add' unit.id %}" method="post">
                    {% csrf_token %}
                    {{ cart_add_product_form }}
                    <button type="submit" onclick="return addToCart(this)">
                        <span>{% include 'svg/add.html' %}</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    {% else %}
    <div class="unit-forms " unit-id="{{ unit.id }}" hidden>
        <div class="flex">
            <div class="unit-add-form">
                <form action="{% url 'cart:cart_add' unit.id %}" method="post">
                    {% csrf_token %}
                    {{ cart_add_product_form }}
                    <button type="submit" onclick="return addToCart(this)">
                        <span>{% include 'svg/add.html' %}</span>
                    </button>
                </form>
            </div>
            {% if unit.id in cart %}
            <div class="unit-quantity">
                <span class="unit-quantity-value mx-1">
                    {{ cart|cart_count_of:unit.id }}
                </span>
                <span> шт</span>
            </div>
            <div class="unit-remove-form">
                <form action="{% url 'cart:cart_remove' unit.id %}" method="post">
                    {% csrf_token %}
                    {{ cart_remove_product_form }}
                    <button type="submit" onclick="return removeFromCart(this)">
                        <span>{% include 'svg/remove.html' %}</span>
                    </button>
                </form>
            </div>
            {% else %}
            <div class="unit-quantity" hidden>
                <span class="unit-quantity-value mx-1">0</span>
                <span> шт</span>
            </div>
            <div class="unit-remove-form" hidden>
                <form action="{% url 'cart:cart_remove' unit.id %}" method="post">
                    {% csrf_token %}
                    {{ cart_remove_product_form }}
                    <button type="submit" onclick="return removeFromCart(this)">
                        <span>{% include 'svg/remove.html' %}</span>
                    </button>
                </form>
            </div>
            {% endif %}

        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>