{% load static %}

<div class="mt-8 mx-auto max-w-screen-md">
    <div class="bg-base-100 border p-10 mx-4">
        <div class="flex flex-col justify-center gap-4">
            <div>
                <h1 class="mb-5">Заказ №{{ order.id }}</h1>
                <h2 class="mb-5 text-lg">Статус: <span class="font-medium">{{ order.get_status_display }}</span></h2>
            </div>

            <p class="text-center text-lg">Детали заказа:</p>
            <div class="order-items justify-center">
                <div class="flex flex-col gap-2">
                    {% for item in items %}
                    {% with unit=item.unit %}
                    <div class="cart-item relative">
                        <div class="cart-item-wrapper flex justify-start bg-base-200 border border-gray-400 pr-10 py-4">
                            <div class="item-image basis-1/4 mx-4">
                                {% if item.unit.product.image %}
                                <img src="{{ item.unit.product.image.url }}" class="w-full rounded-lg sm:w-40" />
                                {% else %}
                                <img src="{% static 'no-image.jpg' %}" class="w-full rounded-lg sm:w-40" />
                                {% endif %}
                            </div>
                            <div class="item-info basis-2/4 flex flex-col justify-start">
                                <div class="item-name" class="mt-4 sm:mt-0">
                                    <a href="{{ unit.link }}">
                                        <h2 class="text-lg font-bold text-gray-900">{{ unit.full_name }}</h2>
                                    </a>
                                </div>
                                <div class="item-price" class="mt-8 flex justify-between">
                                    <p class="text-sm">
                                        <span>Цена единицы:</span>
                                        <span class="item-price-value">
                                            {{ item.price|floatformat:"0" }} ₽
                                        </span>
                                    </p>
                                </div>
                                <div class='item-total-price'>
                                    <p class="text-sm">
                                        <span>Итого:</span>
                                        <span class="item-total-price-value text-sm">
                                            {{ item.total_cost |floatformat:"0" }}
                                        </span>
                                        <span>₽</span>
                                    </p>
                                </div>
                            </div>
                            <div class="item-forms basis-1/4 flex justify-end mt-auto">
                                <div class="item-quantity">
                                    <span class="item-quantity-value mx-1">
                                        {{ item.quantity }}
                                    </span>
                                    <span> шт</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endwith %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>