<div class="max-w-screen-xl">
    <div class="bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6">
        <div class="text-gray-600 text-center my-4">
            <p class="font-medium text-lg">Оформление заказа</p>
            <p>Пожалуйста, заполните перечисленные поля</p>
        </div>
        <div class="text-sm">
            <div>
                <form method="post" action="{% url 'orders:order_confirm' %}">
                    {% csrf_token %}
                    <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5">
                        <div class="md:col-span-2">
                            <label for="{{ order_form.phone.id_for_label }}">
                                Телефон:
                            </label>
                            {{ order_form.phone }}
                        </div>
                        <div class="md:col-span-3">
                            <label for="{{ order_form.payment.id_for_label }}">
                                Метод оплаты:
                            </label>
                            {{ order_form.payment }}
                        </div>
                        <div class="md:col-span-2">
                            <label for="{{ order_form.first_name.id_for_label }}">
                                Имя:
                            </label>
                            {{ order_form.first_name }}
                        </div>
                        <div class="md:col-span-3">
                            <label for="{{ order_form.last_name.id_for_label }}">
                                Фамилия:
                            </label>
                            {{ order_form.last_name }}
                        </div>
                        <div class="md:col-span-2">
                            <label for="{{ order_form.delivery.id_for_label }}">
                                Метод доставки:
                            </label>
                            {{ order_form.delivery }}
                        </div>
                        <div class="md:col-span-3" id="address-div" hidden>
                            <label for="{{ order_form.address.id_for_label }}">
                                Адрес:
                            </label>
                            {{ order_form.address }}
                        </div>
                        <div class="md:col-span-5">
                            <label for="{{ order_form.client_comment.id_for_label }}">
                                Комментарий к заказу:
                            </label>
                            {{ order_form.client_comment }}
                        </div>

                        <button type="submit"
                            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                            Оформить заказ
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        let addressDiv = document.getElementById('address-div');
        let deliverySelect = document.getElementById("id_delivery");
        let addressInput = document.getElementById("id_address");

        deliverySelect.addEventListener("change", function () {
            if (deliverySelect.value === "DL") {
                addressDiv.removeAttribute('hidden');
                addressInput.setAttribute('value', '');
            } else if (deliverySelect.value === "PK") {
                addressDiv.setAttribute('hidden', true);
                let value = deliverySelect.options[deliverySelect.selectedIndex].text;
                addressInput.setAttribute('value', value);
            }
        });
    });
</script>